@import "../../styles/variables.scss";

.register {
  margin-left: 219px;
  display: flex;
  flex-direction: column;

  .content {
    padding: 32px 64px 32px;

    .container {
      border: 2px solid $borderColor;
      height: fit-content;
      border-radius: $rounded;
      padding: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
