@import "../../styles/variables.scss";

.content {
  padding: 32px 64px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .container {
    border: 2px solid $borderColor;
    height: fit-content;
    border-radius: $rounded;
  }
}
