$mainColor: #0052ff;
$borderColor: #d4d4d4;
$captionColor: #eef0f3;
$stepsColor: #5b616e;
$correctColor: #aced21;

$bold: bold;
$medium: 500;
$regular: normal;
$light: 300;

$circle: 100px;
$rounded: 20px;
