@import "../../../styles/variables";

.token {
  padding: 16px 32px 16px;
  font-weight: $medium;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  .name {
    display: flex;
    align-items: center;
    gap: 16px;

    .avatar {
      border-radius: $circle;
      background-color: $correctColor;
      width: 32px;
      height: 32px;
    }
  }

  .props {
    display: flex;
    gap: 100px;

    .tokenProps {
      display: flex;
      gap: 32px;
      align-items: center;
    }

    .icon {
      width: 64px;
      display: flex;
      justify-content: center;

      .star {
        color: $mainColor;
        width: 32px;
        height: 32px;
        transition: 0.1s ease-in;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
