@import "../../../../styles/variables";

.remainSteps {
  padding: 32px;

  .title {
    font-weight: $medium;
    margin-bottom: 32px;
  }

  .steps {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
